* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: roboto, sans-serif;
}
header ul {
    list-style: none;
    text-align: center;
    background-color: orange;
}
header ul li {
    display: inline-block;
    
}
header ul li a:link, header ul li a:visited {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    color: white;
}
header ul li a:hover{
    background-color: #fff;
    color: orangered;
    cursor: pointer;
}
.box-apresentacao{
    background-color: white;
    border: 4px solid orangered;
    text-align: center;
    padding: 25px;
    border-radius: 30px;
    
}
.box-apresentacao h1{
    font-size: 95%;
} 
.box-apresentacao p{
    color: red;
    font-weight:bold;
    font-size: 70%;
}
.box-apresentacao img{
    width: 80%;
    padding: 15px 0;
}
.section-apresentacao{
    background-color: rgb(3, 3, 58);
    padding: 25px;
}
.logo1{
    display: none;
}
.logo2{
    display: inline;
}
/* Versão desktop */
@media screen and (min-width: 1200px) {
    header ul{
    text-align: right;
    }
    .container{
        width: 1200px;
        margin: 0 auto;
    }
    .logo1{
        display: inline;
    }
    .logo2{
        display: none;
    }
    .box-apresentacao h1{
        font-size: 30px;
    }
    .box-apresentacao p{
        font-size: 20px;
    }
}